.tag_a {
    color: white;
}

.title2 {
    color: white;
}

.hi {
    font-size: 20px;
}

.logo {
    margin-top: 100px;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*height: 220px;*/
    /*width: 400px;*/
    /*text-align: center;*/
    /*filter: brightness(400%);*/
    /*-webkit-filter: brightness(400%);*/
    /*filter: brightness(400%) drop-shadow(4px 4px 1px #f0f0f0);*/
    /*-webkit-filter: brightness(400%) drop-shadow(4px 4px 1px #f0f0f0);*/
}

.box {
    width: 500px;
    height: 800px;
    position: relative;
    top: 0;
    /*bottom: 0;*/
    /*left: 0;*/
    /*right: 0;*/
    margin-left: auto;
    margin-right: auto;
    border: #1f2d3d;
}